@import "tailwindcss";

.input-focus-glow:focus-within::after {
  opacity: 0.8;
}

.input-focus-glow::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1rem;
  width: 100%;
  background: linear-gradient(to right, transparent, white, transparent);
  filter: blur(2rem);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.liquid-glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.liquid-glass-backdrop {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.liquid-glass-background {
  background: rgba(255, 255, 255, 0.05);
}

.liquid-glass-border {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
